:root {
    --primary-color : #9356dc;
    --secondary-color: #99e2d0;
}

html { 
    font-size: 62.5%;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-size: 3.8rem;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}
  
h3, h4 {
    font-size: 1.65rem;
}
  
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
  
.mobile_width {
    min-width: 375px;
    width: 100%;
    height: 100vh;   
}

.overflow_anim {
    overflow: hidden;
    animation: loader_overflow .5s 6s forwards;
}

body {
    &:not(div) {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    
    &>div {
        display: flex;
        flex-direction: column;
    }
}

.grey-bg {
    background-color: #f6f6f6;
}
