:root {
  --primary-color: #9356dc;
  --secondary-color: #99e2d0;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

h2 {
  font-size: 2.5rem;
}

h3, h4 {
  font-size: 1.65rem;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.mobile_width {
  min-width: 375px;
  width: 100%;
  height: 100vh;
}

.overflow_anim {
  overflow: hidden;
  animation: loader_overflow 0.5s 6s forwards;
}

body:not(div) {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
body > div {
  display: flex;
  flex-direction: column;
}

.grey-bg {
  background-color: #f6f6f6;
}

header {
  width: 100%;
  min-height: 65px;
  box-shadow: 0px 3px 8px 0px rgba(200, 200, 200, 0.88);
  z-index: 2;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header picture {
  width: 45%;
  max-width: 200px;
}
header picture img {
  width: 100%;
}
header #header_align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}
header #header_align .localisation_in_header {
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
}
header #header_align .localisation_in_header p i {
  margin-right: 10px;
}
header .fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 21px;
  font-size: 2.3rem;
}

.localisation {
  height: 45px;
  background-color: #eaeaea;
  text-align: center;
  font-weight: 600;
  color: #353535;
}
.localisation i {
  transform: translateX(-15px);
}

#reservation {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px 40px 55px 40px;
}
#reservation h3 {
  font-weight: 300;
}

button {
  height: 50px;
  background: linear-gradient(173deg, #eb73da 20%, #9d59dc 100%);
  box-shadow: 0px 4px 5px 0px rgba(210, 210, 210, 0.88);
  margin-top: 18px;
  padding: 0 25px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
button:focus {
  outline: 0;
}

#fonctionnement {
  padding: 30px 20px 45px 30px;
  background-color: #fff;
}
#fonctionnement h2 {
  transform: translateX(-10px);
}
#fonctionnement .article_container {
  width: 100%;
}
#fonctionnement .article_container article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 75px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 12px 0px rgba(211, 211, 211, 0.88);
  text-align: center;
  margin: 25px 0;
  border-radius: 25px;
  font-weight: 600;
}
#fonctionnement .article_container article:hover {
  background-color: #f5edff;
}
#fonctionnement .article_container article:hover i {
  color: var(--primary-color);
}
#fonctionnement .article_container article div:first-child {
  position: absolute;
  left: -12px;
  width: 23px;
  height: 23px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fonctionnement .article_container article div:first-child p {
  font-size: 1.3rem;
}
#fonctionnement .article_container article div:nth-child(2) i {
  font-size: 2rem;
}
#fonctionnement .article_container div {
  position: absolute;
  left: 11%;
  color: #7e7e7e;
}

#restaurants {
  background-color: #f6f6f6;
  padding: 35px 20px 45px 20px;
}
#restaurants article {
  margin-bottom: 20px;
}
#restaurants article div p:first-child {
  font-weight: 700;
}
#restaurants .picture_container {
  height: 255px;
  position: relative;
}
#restaurants .banner_new {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: var(--secondary-color);
  color: #008766;
  padding: 6px 13px;
  border-radius: 3px;
}
#restaurants .banner_new p {
  margin: 0;
  font-size: 1.4rem;
}
#restaurants img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.picture_legend {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 3px 12px 0px rgba(211, 211, 211, 0.88);
}
.picture_legend div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.picture_legend div p {
  margin: 0;
}
.picture_legend div p:first-child {
  font-size: 1.85rem;
}
.picture_legend div p:last-child {
  font-size: 1.7rem;
  font-weight: 300;
}
.picture_legend i {
  font-size: 2.3rem;
}

.fill-in_heart {
  position: relative;
}
.fill-in_heart i {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.fill-in_heart i:first-child {
  transition: opacity 200ms;
}
.fill-in_heart i:last-child {
  background: linear-gradient(15deg, #eb73da 30%, #9d59dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 200ms;
}
.fill-in_heart i:hover:last-child {
  opacity: 1;
}
.fill-in_heart p:hover i:first-child {
  opacity: 0;
}

.enseigne_large_pic img {
  height: 255px;
  width: 100%;
  object-fit: cover;
}

#section_and_footer {
  position: relative;
  margin-top: -40px;
}

#enseigne {
  display: flex;
  justify-content: center;
}

#enseigne_box {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 30px 15px 80px 15px;
  width: 100%;
  max-width: 1440px;
}
#enseigne_box h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin: 0;
}
#enseigne_box h3 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
#enseigne_box .title_underline {
  width: 40px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 5px 0 13px 0;
}
#enseigne_box article {
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 12px 0px rgba(211, 211, 211, 0.88);
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
#enseigne_box article.hidden {
  opacity: 0;
  transform: translateY(50px);
}
#enseigne_box article:hover .article_visible {
  width: calc(100% - 62px);
}
#enseigne_box article:hover .article_hidden i {
  animation: slide-in_card_box 0.5s 0.1s forwards;
}
#enseigne_box article p, #enseigne_box article h4 {
  margin: 0;
}
#enseigne_box article h4, #enseigne_box article .article_text-price p:first-child {
  margin-right: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#enseigne_box #enseigne_title_box {
  margin: 0 0 40px 0;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#enseigne_box #enseigne_title_box .fill-in_heart i {
  font-size: 2.5rem;
}
#enseigne_box section a:last-child article {
  margin-bottom: 40px;
}
#enseigne_box #button_box {
  text-align: center;
}
#enseigne_box #button_box button {
  width: 55%;
  max-width: 350px;
}

.article_visible {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: linear width 500ms;
  position: relative;
}
.article_visible div:not(:last-child) {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.article_visible .article_text-price p:first-child {
  font-size: 1.45rem;
}
.article_visible .article_text-price p:last-child {
  font-weight: 600;
}
.article_visible .article_hidden {
  position: absolute;
  top: 0;
  left: 100%;
  width: 62px;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 0 15px 15px 0;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.article_visible .article_hidden div {
  background-color: #fff;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
  display: flex;
  justify-content: center;
}
footer #footer_align {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 25px;
}
footer img {
  filter: invert(1);
  width: 100px;
  margin-bottom: 15px;
}
footer a {
  margin: 5px 0;
  font-weight: 400;
  width: fit-content;
}
footer i {
  font-size: 15px;
  width: 30px;
}

#loader_wrapper {
  height: 100vh;
  animation: fade-out_loader 0.5s 6s forwards;
  z-index: 999999;
  background-color: rgba(31, 31, 31, 0.95);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}
#loader_wrapper picture {
  filter: invert(0.9);
  margin-bottom: 20px;
}
#loader_wrapper #loader_box {
  position: relative;
  width: 100px;
  height: 100px;
  border-top: 2px solid rgba(157, 89, 220, 0.8);
  border-bottom: 2px solid #eb73db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader-animation 2s 1s infinite;
}
#loader_wrapper #loader_box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  opacity: 0;
}
#loader_wrapper #loader_box .fa-hamburger {
  animation: loader-animation-switch-ico 6s infinite;
}
#loader_wrapper #loader_box .fa-hotdog {
  animation: loader-animation-switch-ico 6s 2s infinite;
}
#loader_wrapper #loader_box .fa-pizza-slice {
  animation: loader-animation-switch-ico 6s 4s infinite;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-animation-switch-ico {
  0% {
    opacity: 0;
    font-size: 2rem;
  }
  20% {
    opacity: 1;
    font-size: 4rem;
  }
  40% {
    opacity: 0;
    font-size: 2rem;
  }
  100% {
    opacity: 0;
    font-size: 2rem;
  }
}
@keyframes fade-out_loader {
  0% {
    height: 100vh;
    opacity: 1;
    z-index: 999999;
  }
  100% {
    height: 0vh;
    opacity: 0;
    z-index: -2;
  }
}
@keyframes loader_overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}
@keyframes loading-restaurant-cards {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in_card_box {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.delay-0 {
  animation: loading-restaurant-cards 1s 0s forwards;
}

.delay-1 {
  animation: loading-restaurant-cards 1s 0.25s forwards;
}

.delay-2 {
  animation: loading-restaurant-cards 1s 0.5s forwards;
}

.delay-3 {
  animation: loading-restaurant-cards 1s 0.75s forwards;
}

.delay-4 {
  animation: loading-restaurant-cards 1s 1s forwards;
}

.delay-5 {
  animation: loading-restaurant-cards 1s 1.25s forwards;
}

.delay-6 {
  animation: loading-restaurant-cards 1s 1.5s forwards;
}

.delay-7 {
  animation: loading-restaurant-cards 1s 1.75s forwards;
}

.delay-8 {
  animation: loading-restaurant-cards 1s 2s forwards;
}

.delay-9 {
  animation: loading-restaurant-cards 1s 2.25s forwards;
}

@media screen {
  .localisation_in_header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .article_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .article_container a {
    width: 48%;
  }

  .column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .column_center a {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  header #header_align {
    justify-content: space-between;
  }
  header #header_align .localisation_in_header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header #header_align picture, header #header_align div {
    margin: 0 20px;
  }

  .localisation {
    display: none;
  }

  #fonctionnement .article_container.column_center {
    flex-direction: row;
  }
  #fonctionnement .article_container.column_center a {
    width: 30%;
  }
  #fonctionnement .article_container.column_center a article div:first-child {
    top: -12px;
    left: 50%;
    transform: translateX(-12px);
  }

  #restaurants .picture_container {
    height: 25vw;
    max-height: 350px;
  }
  #restaurants .picture_container img {
    height: 80%;
  }

  #enseigne .article_container a {
    width: 32.5%;
  }

  .enseigne_large_pic img {
    height: 100%;
    max-height: 25vw;
  }
}
@media screen and (min-width: 1440px) {
  .width_container {
    max-width: 1440px;
  }

  #fonctionnement {
    border-radius: 25px;
    margin: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
