@keyframes loading-restaurant-cards {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes slide-in_card_box {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
